{% extends "notes.html" %}
{% load static %}
{% block body %}
<div class="row">
    <div class="add_form">
        <form method ='post' action='{% url 'login_user_backend' %}'>
            {% csrf_token %}
            <br>
            <br>
            <br>
            <label>User Name</label><br>
            <input type="text" name="username"><br>
            <label>Password</label><br>
            <input type="password" name="password"><br>
            <button type="submit" class="btn btn-primary" >Log in</button>
        </form>
    </div>
</div>
{%endblock%}
